// Sizing
$euiCollapsibleNavWidth: $euiSize * 10; // ~ 160px

$euiCollapsibleNavGroupLightBackgroundColor: $euiPageBackgroundColor;

$euiCollapsibleNavGroupDarkBackgroundColor: lightOrDarkTheme(
  shade($euiColorDarkestShade, 20%),
  shade($euiColorLightestShade, 50%)
);

$euiCollapsibleNavGroupDarkHighContrastColor: makeGraphicContrastColor(
  $euiColorPrimary,
  $euiCollapsibleNavGroupDarkBackgroundColor
);
