.swiper {
  width: 750px;
  height: 900px;
}

.swiper-item {
  width: 596px;
  height: 876px;
  // background-color   : red;
  // border-radius   : 20px;
  // box-shadow            : 0 12px 24px 0 rgba(65, 78, 101, 0.1),
  //   0 6px 12px 0 rgba(65, 78, 101, 0.1),
  //   0 4px 4px 0 rgba(65, 78, 101, 0.1),
  //   0 2px 2px 0 rgba(65, 78, 101, 0.1);
  // image {
  //   width : 750px;
  //   height: 400px;
  // }
  padding: 4px 12px 20px 12px;
}

.card {
  // margin             : 12px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 12px 12px 0 rgba(65, 78, 101, 0.1),
    0 6px 12px 0 rgba(65, 78, 101, 0.1), 0 4px 4px 0 rgba(65, 78, 101, 0.1),
    0 2px 2px 0 rgba(65, 78, 101, 0.1);
}
