// van-cell {
//   position: relative;
// }

// van-cell::after {
//   position         : absolute;
//   box-sizing       : border-box;
//   content          : " ";
//   pointer-events   : none;
//   right            : 16px;
//   bottom           : 0;
//   left             : 16px;
//   border-bottom    : 1px solid #ebedf0;
//   -webkit-transform: scaleY(.5);
//   transform        : scaleY(.5)
// }

.border__bottom {
  position: relative;

  &::after {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0px;
    bottom: 0;
    left: 0px;
    border-bottom: 1px solid #ebedf0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.van-cell-group__title {
  background-color: #f0f3f6;
}

.no-padding-cell {
  .van-cell {
    padding: 0px !important;
  }
}

.info {
  padding: 10px 16px;
  background-color: white;

  .price {
    color: #0e9a9c;
    padding: 10px 0px;
    font-size: 50px;
    line-height: 50px;
  }

  .title {
    margin: 10px 0px;
    font-size: 36px;
    line-height: 36px;
  }
}

.detail {
  padding-bottom: 44px;

  .markdown {
    padding: 0 16px;
  }
}

.spec {
  padding: 20px;

  .section {
    margin-top: 20px;

    .tags {
      .van-tag {
        margin-right: 10px;
      }
    }

    .price {
      color: #0e9a9c;
    }

    .title {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}
